<html lang="ko">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes"> -->
        
        <title>EQ</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- <link rel="manifest" href="/tgw-eq/manifest.json"> -->
        <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <style>
        body {
            transition:all 0.7s;
        }
        .transition-fade-in {
            transition:all 0.7s;
        }
        .transition-move {
            transition:all 0.2s;
        }
        .primary {color: #007bff !important}
        </style>
    </head>
    <body>
        <div class="container" 
             id="app">
            <div class="row transition-move" :style="{'margin-top': list.length ? 0 : '30%'}">  
                <div class="col-md-12" style="margin-top: 15px">
                    <div class="input-group">
                        <input type="text" 
                               class="form-control" 
                               v-model="search"
                               @change="setList"
                               placeholder="장비를 검색하세요"
                               autocomplete="off">
                        <div class="input-group-append">
                            <span class="input-group-text">{{ list.length }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row transition-fade-in"
                :style="{opacity: list.length ? 1 : 0}">       
                <div class="col-md-4"
                    v-for="(eq, index) in list" 
                    :key="eq[7]"
                    style="margin-top: 15px">

                    <div class="card"
                         :class="{'border-danger': eq[9] == '고장'}">
                        <img :src ="'/img/' + eq[7] +'.jpg' "
                            class="card-img-top" 
                            onerror="this.src = '/img/noimg.png'"
                            :alt="'고유번호 : ' + eq[7] + '사진'">

                        <div class="card-body">
                            <h5 class="card-title"
                                :class="{'text-danger': eq[9] == '고장'}">고유번호 : {{ eq[7] }}</h5>
                            <h6 class="card-subtitle text-muted">{{ setSubTitle(eq[3], eq[4]) }}</h6>

                            <p class="card-text text-muted">
                                <span :class="{primary: search == eq[2]}" 
                                        @click="setSearch(eq[2])">{{ eq[2] }}</span>
                            </p>

                            <p class="card-text text-muted">
                                <small>
                                    <span :class="{primary: search == eq[0]}" 
                                          @click="setSearch(eq[0])">{{ eq[0] }}</span> |
                                    <span :class="{primary: search == eq[1]}" 
                                          @click="setSearch(eq[1])">{{ eq[1] }}</span>
                                </small>
                            </p>

                        </div>

                        <div class="card-footer">
                            <small class="text-muted">지침서 :</small>
                            <small class="text-muted"
                                   :class="{primary: search == eq[8]}" 
                                   @click="setSearch(eq[8])">{{ eq[8] }}</small>
                        </div>

                    </div>
                </div>
           
            </div>

        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script>
            var app = new Vue({
                el: '#app',
                data: {
                    search: '',
                    eqs: [],
                    list: [],
                    apiKey:'AIzaSyAg3mWGriSst2_PBoy6IBI5EVj_V4JP8Qg',
                    spreadsheetId:'1L1pkLhHTXgLI3hIYBXK1Mwthtp6Ve1fL6j3IwoIprNE',
                },
                created: function () {
                    this.search = this.getRequest('search')
                    this.getEqs()
                },
                computed: {
                    apiUrl: function () {
                        return 'https://sheets.googleapis.com/v4/spreadsheets/' 
                            + this.spreadsheetId 
                            + '/values/A:J?key=' 
                            + this.apiKey
                    }
                },
                methods: {
                    getEqs: function () {
                        axios.get(this.apiUrl)
                        .then(function (response) {
                            var arr = response.data.values
                            arr.splice(0, 1)
                            this.eqs = arr
                            this.setList()
                        }.bind(this))
                        .catch(function (error) {
                            console.log(error)
                            console.log(error.response)
                            alert('Error!!')
                        })
                    },
                    setSearch: function (search) {
                        this.search = search
                        this.setList()
                    },
                    setSubTitle: function (brand, modelNo) {
                        return (brand || modelNo) ? brand + ' | ' + modelNo : '-'   
                    },
                    getRequest: function (key) {
                        var arr = decodeURI(location.search).replace('?', '').split('&')
                        for (let index = 0; index < arr.length; index++) {
                            if (key == arr[index].split('=')[0]) {
                                return arr[index].split('=')[1]
                            }
                        }
                        return ''
                    },
                    setList: function () {
                        if (this.search) {
                            var search = this.search
                            this.list = this.eqs.filter(function (n) {
                                for (let index = 0; index < n.length; index++) {
                                    if(n[index].indexOf(search) != -1) {
                                        return n
                                    }
                                }
                            })
                        } else {
                            this.list = []
                        }
                        document.body.scrollTop = 0;
                        history.pushState(null, null, '?search=' + this.search);
                    }
                }
            })

        </script>
    </body>
</html>